.gallery-photo {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background: none;

    display: flex;
    flex: 0 0 33.33%;
    height: 400px;
    position: relative;
}

.gallery-photo img {
    flex: 1;
    object-fit: fill;
}

.gallery-photo:hover {
    opacity: 0.8;
    cursor: pointer;
}

.gallery-photo .label {
    position: absolute;
    top: 10px;
    left: 10px;
    background: yellow;
    padding: 0 5px;
    border-radius: 4px;
    line-height: 140%;
}

.gallery-photo.shadowed {
    opacity: 0.1;
}
