.email-dialog {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;

    font-size: 40px;
}

.email-dialog .controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.email-dialog input {
    font-size: 40px;
    border-radius: 5px;
    padding-left: 20px;
    margin-left: 20px;
    width: 60vw;
}

.simple-keyboard.hg-theme-default {
    width: 95vw;
    color: black;
    margin-bottom: 10px;
}

.simple-keyboard.hg-theme-default .hg-button {
    padding: 40px;
}
